{% extends 'mypf/base.html' %}
<!--Extended base html file-->

{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<h1 class="text-uppercase mb-0">Name: Abdallah Saber</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Web Programming - Python - Django</h2>
	  </div>
	</header>

	  <!--PORTFOLIO-->
      <!-- <section class="portfolio margin" id="portfolio" style="
    margin-bottom: 30px;
">


        <div class="container">
            <div class="my_img d-none d-lg-block  text-center">
                <img src="img/about/1.jpg" alt="" style="
                width: 200px;
                /* width: 99px; */
                height: 200px;
                border-radius: 50%;
                margin-top: 50px;
            ">
            
            </div>
            <h2 class="text-center text-uppercase text-white mb-0">Profile</h2>
            <hr class="star-light mb-5 text-white">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">First Project</h5>
                    <p class="card-text">Desktop Application</p>
                    <a href="https://github.com/OmarAlmighty/JR-Destop-Documneted-Only.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Second Project</h5>
                    <p class="card-text">Design for website</p>
                    <a href="https://github.com/Abdallah811998/SimpleWebsite.git" class="btn btn-primary">Github </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin"></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Third Project</h5>
                    <p class="card-text">Design for website</p>
                    <a href="https://github.com/Abdallah811998/Design-for-Website.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Fourth Project</h5>
                    <p class="card-text">Design for website</p>
                    <a href="https://github.com/Abdallah811998/simple-Website-2.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section> -->
	<section class="portfolio margin" id="portfolio" style="
    margin-bottom: 30px;
">


        <div class="container">
            <div class="my_img d-none d-lg-block  text-center">
                <img src="static/mypf/img/about/1.jpg" alt="" style="
                width: 200px;
                /* width: 99px; */
                height: 200px;
                border-radius: 50%;
                margin-top: 50px;
            ">
            
            </div>
            <h2 class="text-center text-uppercase text-white mb-0">Profile</h2>
            <hr class="star-light mb-5 text-white">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">First Project</h5>
                    <p class="card-text">Desktop Application</p>
                    <a href="https://github.com/OmarAlmighty/JR-Destop-Documneted-Only.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Second Project</h5>
                    <p class="card-text">Design for website</p>
                    <a href="https://github.com/Abdallah811998/SimpleWebsite.git" class="btn btn-primary">Github </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin"></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Third Project</h5>
                    <p class="card-text">Design for website</p>
                    <a href="https://github.com/Abdallah811998/Design-for-Website.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Fourth Project</h5>
                    <p class="card-text">Project Description</p>
                    <a href="https://github.com/Abdallah811998/simple-Website-2.git" class="btn btn-primary">Github</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
	

{% endblock %}